.hello {
  color: red;
}

.grid-cell {
  width: 5px;
  height: 5px;
  padding: 10px;
  appearance: none;
  border: solid 1px black;
}

.boards-container {
  display: flex;
  gap: 3em;
}

.human-board, .computer-board {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  border: 1px solid black;
  padding: 1em;
}

.name-div {
  display: flex;
}

.ship {
  background-color: greenyellow;
}

.no-click {
  pointer-events: none;
}